<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Multiplication Table</title>
</head>
<body>
<h1>Multiplication Table</h1>

<pre></pre>

<p>value is an invalid value.</p>

<form action="multiple" method="get">
    <p>
        <label>Multiplication Table for
            <input type="number" name="number" min="2" max="9" step="1">
            <input type="hidden" name="command" value="print">
            <input type="submit" value="Print">
        </label>
    </p>
</form>
</body>
</html>